:root {
	--bg-color: rgb(24,25,30);
}

*, ::before, ::after {
	margin: 0;
	padding: 0;
}

body {
	background: var(--bg-color);
	font-size: 1.2rem;
	line-height: 2rem;
	color: #ddd;
}

.right-column .row {
	margin-bottom: 64px;
}

.user-points, .user-energy {
	display: block;
}

.container {
	max-width: 80%;
}

.prediction-intro {
	padding-bottom: 16px;
}